<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SPMB SMK Jakarta Pusat 1</span>
                </a>
                <p class="mt-4 max-w-md text-gray-500 dark:text-gray-400">
                    Sistem Penerimaan Murid Baru SMK Jakarta Pusat 1. Mari bergabung dengan kami untuk meraih masa depan yang lebih baik.
                </p>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Menu</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/" class="hover:underline">Beranda</a>
                        </li>
                        <li class="mb-4">
                            <a href="#program-keahlian" class="hover:underline">Jurusan</a>
                        </li>
                        <li class="mb-4">
                            <a href="#alur-pendaftaran" class="hover:underline">Alur Pendaftaran</a>
                        </li>
                        <li>
                            <a href="#hubungi-kami" class="hover:underline">Kontak</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Jurusan</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="#program-keahlian" class="hover:underline">Rekayasa Perangkat Lunak</a>
                        </li>
                        <li class="mb-4">
                            <a href="#program-keahlian" class="hover:underline">Akuntansi</a>
                        </li>
                        <li class="mb-4">
                            <a href="#program-keahlian" class="hover:underline">Manajemen Perkantoran</a>
                        </li>
                        <li class="mb-4">
                            <a href="#program-keahlian" class="hover:underline">Bisnis Retail</a>
                        </li>
                     
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Kontak</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <i class="fas fa-map-marker-alt mr-2"></i>
                            <span class="text-xs">Jl. Abdul Muis No. 44, Jakarta Pusat</span>
                        </li>
                        <li class="mb-4">
                            <i class="fas fa-phone mr-2"></i>
                            <a href="https://wa.me/6285213819519?text=Halloo%20Bapak%20%2F%20Ibu%2C%20saya%20ingin%20bertanya%20terkait%20SPMB%20SMK%20Jakarta%20Timur%201%20tahun%202025%2F2026" class="hover:underline text-xs">+62- 852-1381-9519</a>
                        </li>
                        <li>
                            <i class="fas fa-envelope mr-2"></i>
                            <a href="mailto:smkjakartapusat1jakarta@gmail.com" class="hover:underline text-[11px]">smkjakartapusat1jakarta@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                © <%= new Date().getFullYear() %> <a href="/" class="hover:underline">SPMB SMK Jakarta Pusat 1</a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <i class="fab fa-tiktok"></i>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="https://www.instagram.com/smkjpone/" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <i class="fab fa-instagram"></i>
                    <span class="sr-only">Instagram page</span>
                </a>
                <a href="" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">YouTube account</span>
                </a>
            </div>
        </div>
    </div>
</footer>
