<li>
    <a href="/petugas/dashboard" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-tachometer-alt w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Dashboard</span>
    </a>
</li>
<li>
    <a href="/petugas/pendaftaran" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-clipboard-list w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Data Pendaftaran</span>
    </a>
</li>
<li>
    <a href="/petugas/wawancara" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-comments w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Wawancara</span>
    </a>
</li>
<li>
    <a href="/petugas/verifikasi" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-check-circle w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Verifikasi Berkas</span>
    </a>
</li>
<li>
    <a href="/petugas/pengumuman" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-bullhorn w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Pengumuman</span>
    </a>
</li>
<li>
    <a href="/petugas/settings" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-cog w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Pengaturan</span>
    </a>
</li>
