<li>
    <a href="/cpdb/dashboard" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-tachometer-alt w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Dashboard</span>
    </a>
</li>
<li>
    <a href="/cpdb/biodata" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-user w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Biodata</span>
    </a>
</li>
<li>
    <a href="/cpdb/berkas" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-file-upload w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Upload Berkas</span>
    </a>
</li>
<li>
    <a href="/cpdb/wawancara" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-comments w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Jadwal Wawancara</span>
    </a>
</li>
<li>
    <a href="/cpdb/pembayaran" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-money-bill-wave w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Pembayaran</span>
    </a>
</li>
<li>
    <a href="/cpdb/pengumuman" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-bullhorn w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Pengumuman</span>
    </a>
</li>
<li>
    <a href="/cpdb/settings" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
        <i class="fas fa-cog w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"></i>
        <span class="ml-3">Pengaturan</span>
    </a>
</li>
